@mixin caret-up($color: $pageMenuForeColor, $size: 4px) {
  border-top: none;
  border-bottom: $size solid $color;
}

@mixin caret-down($color: $pageMenuForeColor, $size: 4px) {
  border-bottom: none;
  border-top: $size solid $color;
}

@mixin global-menu-item-icon($index) {
  background-position: -($index * 24px) 0px;
  &:hover {
    @include global-menu-item-icon-hover($index);
  }
}

@mixin global-menu-item-icon-hover($index) {
  background-position: -($index * 24px) -24px;
}

#global-menu {
  display: block;
  position: absolute;
  top: 0px; bottom: 0px;
  left: 0px; right: 0px;
  width: 70px;
  background: $menuBackgroundColor;
  padding: 0px;

  ul {
    list-style: none;
    margin: 0px; padding: 0px;
    top: 0px;

    li {

      a {
        display: block;
        width: 24px; height: 24px;
        padding: 13px 23px;

        span {
          display: block;
          width: 24px; height: 24px;
          text-indent: -9999px;
          background: image-url('global_menu_icon_sprite.png') no-repeat;
        }

        &.global-menu-icon-dashboard span {
          @include global-menu-item-icon(0);
        }

        &.global-menu-icon-client span {
          @include global-menu-item-icon(1);
        }

        &.global-menu-icon-content span {
          @include global-menu-item-icon(2);
        }

        &.global-menu-icon-media span {
          @include global-menu-item-icon(3);
        }

        &.global-menu-icon-data span {
          @include global-menu-item-icon(4);
        }

        &.global-menu-icon-tools span {
          @include global-menu-item-icon(5);
        }

        &.global-menu-icon-settings span {
          @include global-menu-item-icon(6);
        }

        &.active {
          background: darken($menuBackgroundColor, 10%);
          &.global-menu-icon-dashboard span {
            @include global-menu-item-icon-hover(0);
          }

          &.global-menu-icon-client span {
            @include global-menu-item-icon-hover(1);
          }

          &.global-menu-icon-content span {
            @include global-menu-item-icon-hover(2);
          }

          &.global-menu-icon-media span {
            @include global-menu-item-icon-hover(3);
          }

          &.global-menu-icon-data span {
            @include global-menu-item-icon-hover(4);
          }

          &.global-menu-icon-tools span {
            @include global-menu-item-icon-hover(5);
          }

          &.global-menu-icon-settings span {
            @include global-menu-item-icon-hover(6);
          }
        }

        &:hover {
          .global-menu-icon-dashboard {
            @include global-menu-item-icon-hover(0);
          }

          .global-menu-icon-client {
            @include global-menu-item-icon-hover(1);
          }

          .global-menu-icon-content {
            @include global-menu-item-icon-hover(2);
          }

          .global-menu-icon-media {
            @include global-menu-item-icon-hover(3);
          }

          .global-menu-icon-data {
            @include global-menu-item-icon-hover(4);
          }

          .global-menu-icon-tools {
            @include global-menu-item-icon-hover(5);
          }

          .global-menu-icon-settings {
            @include global-menu-item-icon-hover(6);
          }
        }
      }
    }
  }
}

#page-menu {
  position: absolute;
  top: 0px; bottom: 0px;
  left: 0px; width: 199px;
  margin: 0px; padding: 0px;
  background: $pageMenuBackgroundColor;
  border-right: 1px solid $pageMenuBorderColor;
  .header {
    height: 50px;
    h3 {
      font-size: 21px;
      color: $pageMenuForeColor;
      font-weight: normal;
      text-indent: 15px;
      line-height: 50px;
      margin: 0px; padding: 0px;
    }
    border-bottom: 1px solid $pageMenuBorderColor;
  }

  [class*="accordion"] {
    margin: 0px; padding: 0px;
    border: none;
  }

  .accordion {

    ul {
      list-style: none;
      margin: 0px; padding: 0px;
    }

    a {
      display: block;
      line-height: 50px;
      height: 50px;
      border-bottom: 1px solid $pageMenuBorderColor;
      padding: 0px $bigPadding;
      font: {
        size: 14px;
      }
      color: $pageMenuForeColor;

      &:hover {
        background: $pageMenuHoverBackgroundColor;
        color: $pageMenuHoverForeColor;

        .caret {
          @include caret-down($pageMenuHoverForeColor, 4px);
        }

        &.accordion-toggle.collapsed {
          .caret {
            @include caret-up($pageMenuHoverForeColor, 4px);
          }
        }
      }

      &.active {
        background: $pageMenuActiveBackgroundColor;
        color: $pageMenuActiveForeColor;

        &.in {
          background: $pageMenuBackgroundColor;
          color: $pageMenuForeColor;

          &:hover {
            background: $pageMenuHoverBackgroundColor;
            color: $pageMenuHoverForeColor;

            .caret {
              @include caret-down($pageMenuHoverForeColor, 4px);
            }

            &.accordion-toggle.collapsed {
              .caret {
                @include caret-up($pageMenuHoverForeColor, 4px);
              }
            }
          }
        }

        .caret {
          @include caret-down;
        }

        &.accordion-toggle.collapsed {
          .caret {
            @include caret-up;
          }
        }
      }

      .caret {
        position: relative;
        top: 20px;
        @include caret-down;
      }

      &.accordion-toggle.collapsed {
        .caret {
          @include caret-up;
        }
      }
    }
  }

  .accordion-body {
    a {
      padding: 0px $bigPadding * 2;

      &.active {
        background: $pageMenuActiveBackgroundColor;
        color: $pageMenuActiveForeColor;
      }
    }
  }
}
