/*
 *= require bootstrap-datetimepicker.min
 *= require wice_grid
 *= require bootstrap-editable
 *= require jquery.ui.all
 *= require_self
 */

@import 'components';
@import 'menus';
@import 'titles';
@import 'breadcrumbs';
@import 'icons';
@import 'brands_list';

html, body {
  padding: 0; margin: 0;
  width: 100%; height: 100%;
  font-family: "Hiragino Sans GB", "Lucida Grande", arial, sans-serif;
  color: #383839;
  font: {
    size: 12px;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.nav > li > a:hover {
  background: none;
}

.nav-tabs {
  background: $borderColor;
  border-bottom: 2px solid darken($borderColor, 10%);
  padding-top: 2px;
  padding-left: 2px;

  > li {
    margin-bottom: -2px;
     > a {
      @include border-radius(0);
      border: none;
    }

    &.active, &.active:hover {
      > a {
        color: darken($linkColor, 10%);
      }
    }
  }
}

.dropdown-menu {
  @include border-radius(0);
  border: $borderColor solid 1px;
}

.dropdown-menu li:hover > a {
  text-shadow: none;
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: white;
}

.copyright {
  font-weight: bold;
  font-size: 9px;
  color: #7d7d80;
}

article .padding {
  padding: $normalPadding $bigPadding;
  padding-bottom: 0px;
}

.group.cell {
  background: $borderColor !important;
  font-weight: bold;
  font-size: 14px !important;
  padding: 7px;
  text-align: center;
}

#page {

  #global-header {
    display: block;
    position: absolute;
    top: 0; left: 0px;
    height: 50px; width: 100%;
    background: $logoColor;
    z-index: 1000;
    color: white;

    #logo {
      width: 120px;
      height: 50px;
      background: image-url("logo_40.png") no-repeat left center;
    }

    #current-user-panel {
      display: block;
      width: auto; height: 50px;
      margin: 0px 20px;

      > li {
        line-height: 50px;

        > a {
          font-size: 11px;
          color: white;

          .caret {
            position: relative;
            top: 15px;
            @include caret-down(white);
          }
        }

        &.open {
          .caret {
            @include caret-up(white);
          }
        }

        .dropdown-menu {
          padding: 0px;
          > li {
            padding: 0px; margin: 0px;

            a {
              margin: 0px; padding: 5px 20px;
              // @include block-link;

              &:hover {
                // @include hover-block-link;
              }
            }
          }
        }
      }
    }
  }

  #global-main {
    display: block;
    position: absolute;
    top: 50px; bottom: 0px;
    left: 0px; right: 0px;
    z-index: 100;

    #main {
      position: absolute;
      top: 0px; bottom: 0px;
      left: 70px; right: 0px;

      > .content {
        position: absolute;
        top: 0px; bottom: 0px;
        left: 200px; right: 0px;
        z-index: 2;
        overflow: auto;
      }
    }
  }

  #global-footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%; height: 40px;
    z-index: 1;
    text-align: center;
    line-height: 40px;
    background: #eee;

    span.copyright {
      font-size: 9px;
      font-weight: normal;
    }
  }

}

.bootstrap-datetimepicker-widget {
  z-index: 1060;
}

.modal {
  form {
    margin: 0px;
    .control-group:last-child {
      margin-bottom: 0px;
    }
  }
}

.char_count_alert {
  margin-left: 20px;

}

.navigative_calendar {
  ul {
    list-style: none;
    padding: 0; margin: 0px;
    margin-left: 15px;

    li {
      display: inline-block;
      a {
        display: block;
        width: 30px; height: 30px;
        background: $smokeGray;
        line-height: 30px;
        text-align: center;

        &.fat {
          background: darken($borderColor, 20%);
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}
