@import 'components/base';
@import 'components/colors';
@import 'components/mixins';
@import 'components/buttons';
@import 'components/forms';
@import 'components/tables';
@import 'components/labels';
@import 'components/modals';
@import 'components/notifications';

// Grid System

.grid {
  @extend .container-fluid;
  padding: 0px;

  > .grid-row {
    @extend .row-fluid;

    > [class*="cell"] {
      @extend [class*="span"];
    }

    > .cell6 {
      @extend .span6;
    }

    > .cell3 {
      @extend .span3;
    }

    > .cell2 {
      @extend .span2;
    }
  }
}

.toolbar {
  @extend .btn-group;

  .button:first-child, .button:last-child {
    @include border-radius(0);
  }
}

section {
  margin: 0px; padding: 0px;
  header {
    &.grid {
      > .line {
        margin: 0px; padding: 0px;
      }
    }
    padding: 0px 0px !important;
    // background: #eee;

    h3 {
      padding-left: 15px;
      font-size: $middleFontSize !important;
      font-weight: bold;
      line-height: 40px;
      margin: 0px;
      color: $darkGray;
    }

    .toolbar {
      margin: 0px 0px;
      @extend .pull-right;

      .button {
        margin: 5px;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}
