
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
  <head>
    <title>测试网页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="http://hsbcgolf.21cbh.com/scripts/swfobject.js"></script>
<script type="text/javascript" src="http://hsbcgolf.21cbh.com/scripts/swfaddress.js"></script>
<script type="text/javascript" src="http://hsbcgolf.21cbh.com/scripts/swffit.js"></script>
<script type="text/javascript">
var browser = {
    versions: function () {
        var u = navigator.userAgent, app = navigator.appVersion;
        return {
            trident: u.indexOf('Trident') > -1, 
            presto: u.indexOf('Presto') > -1, 
            webKit: u.indexOf('AppleWebKit') > -1, 
            gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, 
            mobile: !!u.match(/AppleWebKit.*Mobile.*/),
            ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), 
            android: u.indexOf('Android') > -1, 
            iPhone: u.indexOf('iPhone') > -1,
            iPad: u.indexOf('iPad') > -1,
            webApp: u.indexOf('Safari') == -1
        };
    } (),
    language: (navigator.browserLanguage || navigator.language).toLowerCase()
}
if( browser.versions.iPhone || browser.versions.android || browser.versions.iPad  ){
  window.location.href = "/mobile/"+window.location.hash;
}


</script>
<script type="text/javascript"> 

function openwin(url,name,width,height)
{
  var top = (window.screen.availHeight-30-height)/2;
  var left = (window.screen.availWidth-10-width)/2;
  window.open(url,name,'height='+height+',width='+width+',top='+top+',left='+left+',toolbar=no,menubar=no,scrollbars=auto,resizeable=no,location=no,status=no');
}

function getURL(){
  return window.location.href;
}

function shareToSNS( name,type ){
  var title, pic = 'http://183.60.126.247/weibo.jpg', l = encodeURIComponent(location.href);
  if( type == 1 ){
    title = encodeURIComponent("我参加了2012世锦赛－汇丰冠军赛#智胜全球机遇，赢世界高尔夫之旅#活动，快来帮我累积汇丰里，iPad等丰厚奖品等你拿! ");
  }
  else{
    l = encodeURIComponent("http://hsbcgolf.21cbh.com/");
    title = encodeURIComponent('快来参加2012世锦赛－汇丰冠军赛"智胜全球机遇，赢世界高尔夫之旅"活动，免费海外高尔夫之旅、iPad等丰厚奖品等你拿! ');
  }
  pic = encodeURIComponent(pic);
  switch( name ){

    case "sina":
    openwin('http://v.t.sina.com.cn/share/share.php?title='+title+'&url='+l+'&pic='+pic,'weibo',900,600);
    break;
    case "renren":
    openwin('http://share.renren.com/share/buttonshare.do?title='+title+'&link='+l+'&pic='+pic,'renren',900,600);
    break;
    case "qq":
    openwin('http://v.t.qq.com/share/share.php?url='+l+'&title='+title+'&pic='+pic,'qq',900,600);
    break;

  }
}

  var flashvars = {};

  var params = {wmode:"window",allowFullScreen:"true"};

  var attributes = {};

  

  swffit.fit("flashcontent","1000","700"); 
  
  
  var minwid = 1000;
  var minhei = 700;
  var maxwid = "100%";//1450
  var maxhei = "100%";//674
  var cid = "flashcontent";
  var w,h;
  
  window.onresize = resize;
  window.onload = resize;

  function resize(){
    if(document.body.clientWidth >maxwid){
      document.getElementById(cid).style.width = maxwid + "px";
      w = maxwid;
    }else if( document.body.clientWidth <= minwid){
      document.getElementById(cid).style.width = minwid + "px";
      w=minwid;
    }else{
      document.getElementById(cid).style.width = "100%";
      w="100%";
    }
    
    if(document.body.clientHeight > maxhei){
      document.getElementById(cid).style.height = maxhei + "px";
      h=maxhei;
    }else if(document.body.clientHeight <= minhei){
      document.getElementById(cid).style.height = minhei + "px";
      h=minhei;
    }else{
      document.getElementById(cid).style.height = "100%";
      h="100%";
    }
  }

</script> 



<style type="text/css">



body,html{

margin:0;

padding:0;

background:#000;

height: 100%;

}



#flashcontent{

height: 100%;

width:100%;

}

</style>

</head>
  <body>
    <div id="flashcontent">
    </div>
        <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34905988-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
